
#appTitle{
    color: #EAAA00;
}
#map {
    width: 800px;
    height: 600px;
}
.map-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */

}
.county {
    fill: white;
    stroke: #F9F6E5;
    stroke-width: 1px;
}

.county:hover {
    fill: #aaa;
}

.state {
    fill: none;
    /* Make states transparent initially */
    stroke: #3A5DAE;
    stroke-width: 0.5px;
}

.state:hover {
    stroke: #000;
    /* Highlight state on hover */
}
.bi-info-circle{
    font-size: 0.5em;
}
.bi-info-circle {
    cursor: pointer; 
    color: #EAAA00; 
}
.bi-info-circle:hover {
    color: lightgray; 
}
.count {
    display: inline-block;
    min-width: 50px; 
    text-align: center;
}
#filterCount {
    display: inline-block;
    font-size: 0.4em;
    border: 1px solid;
    padding: 3px;
    border-radius: 50%;
    background-color: #003057;
    color: white;
}
#filterCount:hover {
    background-color: lightgray;
}
a:link, a:visited {
    color: #003057;
}

.modal img {
    overflow: auto;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-header {
    background-color: #003057;
}

.modal-title {
    color: white;
    padding: 10px; /* Optional: Add some padding to give the text some room */
}
.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid  #F9F6E5;
    padding: 5px;
    opacity: 0;
    /* Hidden by default */
    border-radius: 5px;
    /* Add rounded corners */
    z-index: 1050; /* Ensure it's above Bootstrap's modal z-index */
}

.state-highlight {
    stroke: #003057; /* Bright color for emphasis */
    stroke-width: 2px; /* Make the stroke thicker */
}
.county-highlight {
    stroke: #3A5DAE;
    stroke-width: 2px; /* Make the stroke thicker */
}


.grayout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    display: none; /* Hidden by default */
    z-index: 100; /* Ensure it's above the map */
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #000;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    display: none; 
    z-index: 101; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn {
    background-color: #003057;
    color: white; 
    border: 1px solid #B3A369;
}

.college-info {
    border: 1px solid #003057;
    padding: 10px;
    margin-bottom: 10px; 
    background-color: #EAAA00; 
    border-radius: 8px; 
}

.checkboxes-container {
    max-width: 80%; 
    margin: 0 auto; 
    padding: 5px; 
}

