
body, html {
    width: 100%;
    height: 100%;
    
}

#appTitle{
    color: #EAAA00;
    text-shadow: -1px 0 #003057, 0 1px #003057, 1px 0 #003057, 0 -1px #003057;
}
.stripe {
    background-color: #003057; /* Replace 'blue' with the specific color you want */
    height: 50px; /* Adjust the height to your liking */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* This ensures the stripe appears above other elements */
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;  
    width: 100%;    
    padding:0%;

}


.county {
    fill: white;
    stroke: #F9F6E5;
    stroke-width: 1px;
}
.county:hover {
    fill: #aaa;
}
.state {
    fill: none;
    /* Make states transparent initially */
    stroke: #3A5DAE;
    stroke-width: 0.5px;
}
.state:hover {
    stroke: #000;
    /* Highlight state on hover */
}


.bi-info-circle{
    font-size: 0.5em;
}
.bi-info-circle {
    cursor: pointer; 
    color: #EAAA00; 
}
.bi-info-circle:hover {
    color: lightgray; 
}



#filterCount {
    min-width: 50px;
    display: inline-block;
    font-size: 0.4em;

    padding: 3px;
    border-radius: 50%;
    background-color: #003057;
    color: #EAAA00;
}


a:link, a:visited {
    color: #003057;
}

.modal img {
    overflow: auto;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-header {
    background-color: #003057;
}
.modal-title {
    color: #EAAA00;
    padding: 10px; /* Optional: Add some padding to give the text some room */
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid  #F9F6E5;
    padding: 5px;
    opacity: 0;
    /* Hidden by default */
    border-radius: 5px;
    /* Add rounded corners */
    z-index: 1050; /* Ensure it's above Bootstrap's modal z-index */
}

.state-highlight {
    stroke: #003057; /* Bright color for emphasis */
    stroke-width: 2px; /* Make the stroke thicker */
}
.county-highlight {
    stroke: #3A5DAE;
    stroke-width: 2px; /* Make the stroke thicker */
}


.grayout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    display: none; /* Hidden by default */
    z-index: 100; /* Ensure it's above the map */
}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #000;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -20px;
    display: none; 
    z-index: 101; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn {
    background-color: #003057;
    color: #EAAA00; 
}

.college-info {
    border: 1px solid #EAAA00;
    padding: 10px;
    margin-bottom: 10px; 
    background-color: #F9F6E5; 
    border-radius: 8px; 
}



.checkboxes-container {
    max-width: 80%; 
    margin: 0 auto; 
    padding: 5px; 
}

/* Custom Checkbox Styling */
.styled-checkbox {
    position: absolute;
    opacity: 0; /* Hide the default checkbox */
    cursor: pointer;
}

.styled-checkbox + .form-check-label {
    position: relative;
    padding-left: 30px; 
    cursor: pointer;
}

.styled-checkbox + .form-check-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #EAAA00; 
    background-color: #fff; 
    border-radius: 3px; 
    transition: background-color 0.3s ease;
}

.styled-checkbox:checked + .form-check-label:before {
    background-color: #003057; 
}

.styled-checkbox:focus + .form-check-label:before {
    box-shadow: 0 0 0 0.2rem rgba(0, 48, 87, 0.25); 
}

.styled-checkbox:checked + .form-check-label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #EAAA00;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
